* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }


  body {
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/plants-in-pots-royalty-free-image-1574464255.jpg?crop=1.00xw:0.752xh;0,0.0649xh&resize=980:*") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container {
  padding: 1.5rem;
}
  .click {
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }
  .click:hover {
    background-color:#5cbf2a;
    }

   .click:active {
      position:relative;
      top:1px;
    }

  .input {
    margin-bottom: 3rem;
  }

  input {
    margin-bottom: 1rem;
  }

.plant{
    color: black;
    background: lightgrey;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 50px 20px;
}

#header{
  text-align: center;
  font-family:Arial;
  font-size:50px;
  color: #18ab29;
}
